//- Подключение скриптов
mixin script(scripts)
	each src in scripts
		- src = /^(https?:)?\/\//.test(src) ? src : page.assets + 'scripts/' + src;
		script(src=src)


mixin pages-list(list)
	ol(style="list-style-type: decimal")
		each item in list
			if item.disabled
				li(style="margin-bottom: 1em")
					span(style="color: #bbb; cursor: default")= item.text
			else
				li(style="margin-bottom: 1em")
					a(href=item.href)= item.text
					span(style="margin-left: 5px")= item.descr

//- Вывод списка меню
mixin menu-list(list)
	if list
		each item in list
			if item.submenu
				if item.active
					- i = true
		ul.menu(class=i ? "menu--opened" : "", class!=attributes.class)
			each item in list
				if item.submenu
					li.menu__item.with-submenu(class=item.active ? "active" : "")
						a(href=item.href target=item.external ? "_blank" : "")
							span= item.text
						ul.submenu(class=item.active ? "active" : "")
							each subitem in item.submenu
								li.submenu__item(class=subitem.active ? "active" : "")
									a(href=subitem.href)(target=subitem.external ? "_blank" : "")
										span= subitem.text
				else
					li.menu__item(class=item.active ? "active" : "")
						a(href=item.href target=item.external ? "_blank" : "")
							span= item.text

		.submenu-bg(class=i ? "active" : "")
	else
		p Нет данных


//- Вывод выпадайки для поиска
mixin search-list(list)
	if list
		each item in list
			if item.submenu
				if item.active
					- i = true
		ul.menu(class=i ? "menu--opened" : "")
			each item in list
				if item.submenu
					li.menu__item.with-submenu(class=item.active ? "active" : "")
						a(href=item.href)
							span= item.text
						ul.submenu(class=item.active ? "active" : "")
							each subitem in item.submenu
								li.submenu__item(class=subitem.active ? "active" : "")
									a(href=subitem.href)
										span= subitem.text
				else
					li.menu__item(class=item.active ? "active" : "")
						a(href=item.href)
							span= item.text
	else
		p Нет данных


//- Вывод правого аккордеон-меню
mixin catalog-list(list)
	if list
		each item in list
			if item.submenu
				if item.active
					- i = true
		ul.menu
			each item in list
				if item.submenu
					li.menu__item.with-submenu(class=item.active ? "current active" : "")
						u
							span= item.text
						ul.submenu(class=item.active ? "active" : "")
							each subitem in item.submenu
								li.submenu__item(class=subitem.active ? "active" : "")
									a(href=subitem.href)
										span= subitem.text
										sup.num= subitem.preview
				else
					li.menu__item(class=item.active ? "active" : "")
						a(href=item.href)
							span= item.text
							sup.num= item.preview
	else
		p Нет данных 


//- Вывод карточки товара
mixin catalog-item(item, flat)
	.b-catalog__item
		.b-item(class=flat ? "": "with_popover")
			.b-item__picture
				if item.img
					a(href="store-item.html")
						img(src=item.img)
			.responsive-holder
				.b-item__description
					h4.b-item__title
						a(href="store-item.html")= item.title
					.b-item__info
						p 
							span.parameter Верх:
							|  резина, текстиль<br/>
							span.parameter Подошва:
							|  резина<br/>
							span.parameter Цвет:
							|  белый
				.b-item__price
					if item.oldPrice
						.b-price.b-item__price--old
							span.b-price__number= item.oldPrice
							span.b-price__thinsp &nbsp;
							span.b-price__rubl Р
					.b-price
						span.b-price__number= item.price
						span.b-price__thinsp &nbsp;
						span.b-price__rubl Р
			.b-item__order-button
					button.btn(type="button")
						i.icon.icon-cart
						| В&nbsp;корзину
			.b-item__badges
				span.bestseller Хит!
					//- img(src="images/textures/best-choice.png" alt="Хит!")
			if !flat
				.b-item__popover
					.b-item--dublicate
						.b-item__picture
							if item.img
								a(href="store-item.html")
									img(src=item.img)
						.responsive-holder
							.b-item__description
								h4.b-item__title
									a(href="store-item.html")= item.title
								.b-item__info
									p 
										span.parameter Верх:
										|  резина, текстиль<br/>
										span.parameter Подошва:
										|  резина<br/>
										span.parameter Цвет:
										|  белый
							.b-item__price
								if item.oldPrice
									.b-price.b-item__price--old
										span.b-price__number= item.oldPrice
										span.b-price__thinsp &nbsp;
										span.b-price__rubl Р
								.b-price
									span.b-price__number= item.price
									span.b-price__thinsp &nbsp;
									span.b-price__rubl Р
						.b-item__order-button
							button.btn(type="button")
								i.icon.icon-cart
								| В&nbsp;корзину
					.b-item__badges
						span.bestseller Хит!
							//- img(src="images/textures/best-choice.png" alt="Хит!")


//- Вывод массива с карточками товаров
mixin catalog-items(list, flat)
	each item in list
		+catalog-item(item, flat)

//- Форматирование цены
mixin price(price, oldprice)
	if oldprice
		span.b-price.b-item__price--old(class!=attributes.class)
			if price > 9999
				span.b-price__number
					| #{Math.floor(oldprice/1000)}
					i.b-price__separator
					| #{oldprice%1000}
			else
				span.b-price__number= oldprice
			span.b-price__thinsp &nbsp;
			span.b-price__rubl Р
		br

	span.b-price(class!=attributes.class)
		if price > 9999
			span.b-price__number
				| #{Math.floor(price/1000)}
				i.b-price__separator
				| #{price%1000}
		else
			span.b-price__number= price
		span.b-price__thinsp &nbsp;
		span.b-price__rubl Р




