section.orange.search
	.container
		.b-search
			.b-search-holder
				input.b-search__input(type="search" placeholder="Поиск по каталогу...")

			.b-location.dropdown.selector
				a.b-location__current.dropdown__trigger.selector__current(href=js0 data-target="location") Все категории

				.dropdown__content.hidden(data-target="location")
					.b-location__catalog.selector__options
						+search-list([
							{text:"Все разделы",href:"#", active: true},
							{text:"Компьютерная техника",href:"#"},
							{text:"Бытовая техника",href:"#"},
							{text:"Телефоны и связь",href:"#"},
							{text:"Фото и оптика",href:"#"},
							{text:"Одежда, обувь, акксессуары",href:"#", submenu:[
								{text:"Кроссовки",href:"#"},
								{text:"Кеды",href:"#"},
								{text:"Босоножки",href:"#"},
								{text:"Туфли",href:"#"},
								{text:"Ботильоны",href:"#"},
								{text:"Сандалии",href:"#"},
								{text:"Балетки",href:"#"},
								{text:"Сапоги",href:"#"},
								{text:"Резиновая обувь",href:"#"}
								]},
							{text:"Подарки и праздники",href:"#"},
							{text:"Книги, учебники и журналы",href:"#"},
							{text:"Мебель, интерьеры и обиход",href:"#"},
							{text:"Другое",href:"#"}])
		
			button.b-search__button(type="button") Найти

section.advanced-search.active
	.container
		.advanced-search-trigger
			span.advanced-search-trigger__text#js-advanced-search Расширенный поиск
		.b-advanced-search(style="display:block")
			.columns.triple
				.first.column
					.content
						.b-location.dropdown
							a.b-location__current.dropdown__trigger(href=js0 data-target="location") Все категории

							.dropdown__content.hidden(data-target="location")
								.b-location__catalog
									+advanced-search-list([
										{text:"Компьютерная техника",href:js0, submenu:[
											{text:"Ноутбуки",href:js0, preview:43},
											{text:"Моноблоки",href:js0, preview:11},
											{text:"Планшеты",href:js0, preview:24}
										]},
										{text:"Бытовая техника",href:js0, selected: "partial", submenu:[
											{text:"Стиральные машины",href:js0, preview:51, selected: true},
											{text:"Телевизоры",href:js0, preview:13},
											{text:"Кухонная техника",href:js0, preview:104, selected: true},
											{text:"Пылесосы",href:js0, preview:8, selected: true}
										]},
										{text:"Телефоны и связь",href:js0, preview:24},
										{text:"Фото и оптика",href:js0, submenu:[
											{text:"Фотоаппараты",href:js0, preview:6},
											{text:"Объективы",href:js0, preview:2},
											{text:"Средства и химия",href:js0, preview:64}
										]},
										{text:"Одежда, обувь, аксессуары",href:js0, selected: true, submenu:[
											{text:"Кроссовки",href:js0, preview:19},
											{text:"Кеды",href:js0, preview:134, selected: true},
											{text:"Босоножки",href:js0, preview:245},
											{text:"Туфли",href:js0, preview:195},
											{text:"Ботильоны",href:js0, preview:132},
											{text:"Сандалии",href:js0, preview:72},
											{text:"Балетки",href:js0, preview:36},
											{text:"Сапоги",href:js0, preview:56},
											{text:"Резиновая обувь",href:js0, preview:5}
											]},
										{text:"Подарки и праздники",href:js0, submenu:[
											{text:"Цветы",href:js0, preview:65},
											{text:"Открытки",href:js0, preview:200},
											{text:"Игрушки",href:js0, preview:31}
										]},
										{text:"Книги, учебники и журналы",href:js0, submenu:[
											{text:"Цветы",href:js0, preview:65},
											{text:"Открытки",href:js0, preview:200},
											{text:"Игрушки",href:js0, preview:31}
										]},
										{text:"Мебель, интерьеры и обиход",href:js0, submenu:[
											{text:"Цветы",href:js0, preview:65},
											{text:"Открытки",href:js0, preview:200},
											{text:"Игрушки",href:js0, preview:31}
										]},
										{text:"Другое",href:js0, submenu:[
											{text:"Цветы",href:js0, preview: 65},
											{text:"Открытки",href:js0, preview: 200},
											{text:"Игрушки",href:js0, preview: 31}
										]}])
				.second.column
					.content
						.input-holder
							input.inline-input(name="login" type="text" placeholder="Ключевые слова")
						.input-holder
							select(name="select")
								option(value="0" selected) Любое из слов
								option(value="1") Все слова
						.input-holder
							input.inline-input(name="login" type="text" placeholder="Исключить слова")
				.third.column
					.content
						.input-holder
							label(for="currency") Валюта
							.radio-circles
								ul.menu
									li.menu__item.active
										a(href=js0)
											i.icon.icon__currency--rub
									li.menu__item
										a(href=js0)
											i.icon.icon__currency--dol
									li.menu__item
										a(href=js0)
											i.icon.icon__currency--btc
						.input-holder
							label(for="minPrice") Цена
							input#minPrice.inline-input.inline-input--small(name="minPrice" type="text" placeholder="от")
							label(for="maxPrice").separator —
							input#maxPrice.inline-input.inline-input--small(name="maxPrice" type="text" placeholder="до")
						.input-holder
							select(name="select")
								option(value="0" selected) Все продавцы
								option(value="1") Частное лицо
								option(value="2") Компания
			span.btn.btn-orange.btn-big.b-advanced-search__submit
				| Начать расширенный поиск 
				i.icon







