include ../../../templates/helpers/knockout

script#blockSliderTmpl(type="text/html")
    // version 1.0
    section.catalog-banner
        .b-catalog-banner.promoBlocks(data-bind="css: cssBlockContainer")
            +each('contentBlock')
                .b-catalog-banner__slide(data-bind="css: cssBlock, attr: {style: backgroundImage}")
                    a.container.b-catalog-banner__link(href="", 
                        data-bind="click: ClickGoods, attr: {href: 'javascript:Routing.SetHash(\'goods\', \''+ chortName +'\', {id : '+ id +'})'}")


script#blockCaruselTmpl(type="text/html")
    // version 1.0
    .promoBlocks.carouselBlock.b-catalog
        h1.b-catalog__title(data-bind="text: titleBlock")
        .b-catalog__items.cards.chain-slider.owl-carousel(data-bind="css: cssBlockContainer")
            +each('contentBlock')
                .owl-item
                    .b-catalog__item
                        .b-item
                            .b-item__picture
                                a(href=js0, data-bind="click: ClickGoods, attr: {href: 'http://pokupo.ru/shop#/goods/id=' + id}")
                                    img(src="" data-bind="attr: {src: routeImage, title: chortName, id : cssToCart}")
                            .responsive-holder
                                .b-item__description
                                    h4.b-item__title
                                        a(href=js0, data-bind="text: chortName, click: ClickGoods, attr: {id : cssTitleToCart, href: 'http://pokupo.ru/shop#/goods/id=' + id}")
                                    .b-item__info
                                        p(data-bind="html: description")
                                .b-item__price
                                    +if('discount() > 0')
                                        .b-price.b-item__price--old
                                            span.b-price__number(data-bind="text: sellGoods")
                                            span.b-price__thinsp &nbsp;
                                            span.b-price__rubl Р
                                        .b-price
                                            span.b-price__number(data-bind="text: sellCost")
                                            span.b-price__thinsp &nbsp;
                                            span.b-price__rubl Р

                                    +if('discount() == 0')
                                        .b-price
                                            span.b-price__number(data-bind="text: sellCost")
                                            span.b-price__thinsp &nbsp;
                                            span.b-price__rubl Р
                            .b-item__order-button
                                button.btn(type="button", data-bind="click: ClickBuy")
                                    i.icon.icon-cart
                                    | В&nbsp;корзину
                            .b-item__badges
                                span.bestseller Хит!


script#blockTileTmpl(type="text/html")
    // version 1.0
    .promoBlocks.b-catalog
        h1.b-catalog__title(data-bind="text: titleBlock", style="text-align: left;")
        .b-catalog__controls.b-catalog__controls--pushedright
            .b-catalog__controls-item
                a.btn.btn-thin.btn-sm(style="margin:0", data-bind="click: ClickCategory") Смотреть все

        .b-catalog__items.cards
            +each('contentBlock')
                +each('str')
                    .b-catalog__item
                        .b-item.with_popover
                            .b-item__picture
                                +if('routeImage()')
                                    a(href=js0, data-bind="click: ClickGoods, attr: {id : cssTitleToCart, href: 'http://pokupo.ru/shop#/goods/id=' + id}")
                                        img(src="" data-bind="attr: {src: routeImage(), title: chortName, id : cssToCart}")
                            .responsive-holder
                                .b-item__description
                                    h4.b-item__title
                                        a(href=js0, data-bind="text: chortName, click: ClickGoods, attr: {id : cssTitleToCart, href: 'http://pokupo.ru/shop#/goods/id=' + id}")
                                    .b-item__info
                                        p(data-bind="html: description")
                                    .b-item__price
                                        +if('discount() > 0')
                                            .b-price.b-item__price--old
                                                span.b-price__number(data-bind="text: sellGoods")
                                                span.b-price__thinsp &nbsp;
                                                span.b-price__rubl Р
                                            .b-price
                                                span.b-price__number(data-bind="text: sellCost")
                                                span.b-price__thinsp &nbsp;
                                                span.b-price__rubl Р

                                        +if('discount() == 0')
                                            .b-price
                                                span.b-price__number(data-bind="text: sellCost")
                                                span.b-price__thinsp &nbsp;
                                                span.b-price__rubl Р

                            .b-item__order-button
                                button.btn(type="button", data-bind="click: ClickBuy")
                                    i.icon.icon-cart
                                    | В&nbsp;корзину

                            .b-item__badges
                                span.bestseller Хит!

                            .b-item__popover
                                .b-item--dublicate
                                    .b-item__picture
                                       +if('routeImage()')
                                            a(href=js0, data-bind="click: ClickGoods, attr: {id : cssTitleToCart, href: 'http://pokupo.ru/shop#/goods/id=' + id}")
                                                img(src="", data-bind="attr: {src: routeImage(), title: chortName, id : cssToCart}")

                                    .responsive-holder
                                        .b-item__description
                                            h4.b-item__title
                                                a(href=js0, data-bind="text: chortName, click: ClickGoods, attr: {id : cssTitleToCart, href: 'http://pokupo.ru/shop#/goods/id=' + id}")
                                            .b-item__info
                                                p(data-bind="html: description")
                                        .b-item__price
                                            +if('discount() > 0')
                                                .b-price.b-item__price--old
                                                    span.b-price__number(data-bind="text: sellGoods")
                                                    span.b-price__thinsp &nbsp;
                                                    span.b-price__rubl Р
                                                .b-price
                                                    span.b-price__number(data-bind="text: sellCost")
                                                    span.b-price__thinsp &nbsp;
                                                    span.b-price__rubl Р

                                            +if('discount() == 0')
                                                .b-price
                                                    span.b-price__number(data-bind="text: sellCost")
                                                    span.b-price__thinsp &nbsp;
                                                    span.b-price__rubl Р

                                    .b-item__order-button
                                        button.btn(type="button" data-bind="click: ClickBuy")
                                            i.icon.icon-cart
                                            | В&nbsp;корзину

                                    .b-item__badges
                                        span.bestseller Хит!
