include ../../../templates/helpers/knockout

script#menuPersonalCabinetTmpl(type="text/html")
	// version 1.1 
	div
		.profile-nav.grey
			.container
				a.btn.btn-sm(href='https://seller.pokupo.ru/seller')
					i.icon.icon-store--small
					| Стать продавцом
				ul.menu.b-profile-nav
					li(data-bind="attr: {class: 'menu__item ' + activeProfile()}")
						a.icon__profile(href=js0, data-bind='click: ClickProfile')
							span Профиль
					li.menu__item(data-bind="attr: {class: 'menu__item ' + activeFavorites()}")
						a.icon__favorites(href=js0, data-bind='click: ClickFavorites')
							span Избранное
					li.menu__item(data-bind="attr: {class: 'menu__item ' + activeCart()}")
						a.icon__cart(href=js0, data-bind='click: ClickCart')
							span Корзина
					li.menu__item(data-bind="attr: {class: 'menu__item ' + activePurchases()}")
						a.icon__order(href=js0, data-bind='click: ClickPurchases')
							span Заказы
					li.menu__item(data-bind="attr: {class: 'menu__item ' + activeMessages()}")
						a.icon__mail(href=js0, data-bind='click: ClickMessages')
							span
								| Сообщения
								+if('countNewMessage() > 0')
									sup.menu__item__num(data-bind='text: countNewMessage')

		.container
			+if('subMenu().length > 0')
				dl.tabs.tabs--withline
					+each('subMenu')
						+if('isActive')
							dt.tab__trigger.selected
								span(data-bind='css: activeSubMenu, click: ClickSubMenu, text: title')
							dd.tab__content.selected
						
						+ifnot('isActive')
							dt.tab__trigger
								span(data-bind='css: activeSubMenu, click: ClickSubMenu, text: title')
						

