footer.footer
	.container
		.columns
			.first.column
				.content
					ul
						li
							span.contact
								i.contact-icon.copyright
								| Pokupo.ru&nbsp;2014
						li
							a.contact(href=js0 title="E-Mail") 
								i.contact-icon.email
								| support@pokupo.ru
						li
							a.contact(href=js0 title="Skype") 
								i.contact-icon.skype
								| pokupo.ru

			.second.column
				.content
					ul
						li
							a(href=js0 title="База знаний") База знаний
						li
							a(href=js0 title="Техническая поддержка") Техническая поддержка
						li
							a(href=js0 title="Форум") Форум

			.third.column
				.content
					ul
						li
							a(href=js0 title="Пользовательское соглашение") Пользовательское соглашение
						li
							a(href=js0 title="Правила конфиденциальности")  Правила конфиденциальности
						li
							a(href=js0 title="Политика возврата платежей")  Политика возврата платежей

			.fourth.column
				.content
					ul.social
						li
							a(href=js0).social__icon.vk
						li
							a(href=js0).social__icon.fb
						li
							a(href=js0).social__icon.tw
						li
							a(href=js0).social__icon.lj
						li
							a(href=js0).social__icon.ok
						li
							a(href=js0).social__icon.gp
