extends partials/layouts/profile

block head
	- page.title = 'Личный кабинет: Сообщения';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block profile-nav
	section.profile-nav.grey
		.container
			ul.menu.b-profile-nav
				li.menu__item
					a.icon__profile(href="profile.html")
						span Профиль
				li.menu__item
					a.icon__favorites(href="profile-favorites.html")
						span Избранное
				li.menu__item
					a.icon__cart(href="profile-cart.html")
						span Корзина
				li.menu__item
					a.icon__order(href="profile-orders.html")
						span Заказы
				li.menu__item.active
					a.icon__mail(href="profile-mail.html")
						span Сообщения
						sup.menu__item__num 25
			a.btn.btn-sm(href=js0)
				i.icon.icon-store--small
				| Стать продавцом							

block content
	section.profile.profile-mail
		.container
			.columns.triple
				.first.double.column
					.content
						h1.b-profile__header.with-num
							| Сообщения
							sup.menu__item__num 25

						.b-mail__selectall
							input#select_all(type="checkbox" name="select_all")
							label(for="select_all") Выбрать все

				.third.column
					.content.profile-mail__actions
						button.btn.btn-lg.btn-inline.b-mail__addbtn.b-mail__addbtn--top.open-modal(type="button" data-target="modal-message")
							i.icon.icon-addmail
							| Новое сообщение

			.b-mail
				.b-mail__item.b-dialog.unread
					.b-dialog__checkbox
						input#i-01(type="checkbox" name="i-01")
						label(for="i-01") &nbsp;

					.b-dialog__drop
						span.open-modal.btn-circle.btn-circle--trash(rel="tooltip" title="Удалить" data-target="modal-confirm")

					.b-dialog__body
						.b-dialog__userpic
							a.b-profile-info__photo(href="profile-chat.html")

						.b-dialog__author
							| Команда Pokupo
							span.b-dialog__date сегодня в 21:32

						.b-dialog__title
							a(href="profile-chat.html") Плановые технические работы
							span.b-dialog__title-num (4)

						.b-dialog__preview
							p 
								| Уважаемые пользователи Pokupo!<br/>
								| Завтра, 28.08.2014, с 04:00 до 11:00 по московскому времени серверы портала будут 
								| остановлены для проведения плановых технических работ.

				.b-mail__item.b-dialog.unread
					.b-dialog__checkbox
						input#i-02(type="checkbox" name="i-02")
						label(for="i-02") &nbsp;

					.b-dialog__drop
						span.open-modal.btn-circle.btn-circle--trash(rel="tooltip" title="Удалить" data-target="modal-confirm")

					.b-dialog__body
						.b-dialog__userpic
							a.b-profile-info__photo(href="profile-chat.html")
								img(src="http://api.randomuser.me/portraits/med/men/11.jpg")

						.b-dialog__author
							| Команда Pokupo
							span.b-dialog__date 18 июня 2014 г.

						.b-dialog__title
							a(href="profile-chat.html") Политика России и Китая
							span.b-dialog__title-num (4)

						.b-dialog__preview
							p 
								| Если смотреть «с высоты птичьего полёта», политика России (как и политика большинства стран мира) определяется её местоположением. У России есть два «естественных» союзника — Евросоюз с одной стороны и Китай с другой. Такая ситуация сложилась не вчера и не позавчера: двуглавый орёл является гербом России со времён Ивана III.

				.b-mail__item.b-dialog
					.b-dialog__checkbox
						input#i-03(type="checkbox" name="i-03")
						label(for="i-03") &nbsp;

					.b-dialog__drop
						span.open-modal.btn-circle.btn-circle--trash(rel="tooltip" title="Удалить" data-target="modal-confirm")

					.b-dialog__body
						.b-dialog__userpic
							a.b-profile-info__photo(href="profile-chat.html")
								img(src="http://api.randomuser.me/portraits/med/men/7.jpg")

						.b-dialog__author
							| Игорь Сибилев
							span.b-dialog__date 18 июня 2014 г.

						.b-dialog__title
							a(href="profile-chat.html") Плановые технические работы
							span.b-dialog__title-num (4)

						.b-dialog__preview
							p 
								| Уважаемые пользователи Pokupo!<br/>
								| Завтра, 28.08.2014, с 04:00 до 11:00 по московскому времени серверы портала будут 
								| остановлены для проведения плановых технических работ.

				.b-mail__item.b-dialog
					.b-dialog__checkbox
						input#i-04(type="checkbox" name="i-04")
						label(for="i-04") &nbsp;

					.b-dialog__drop
						span.open-modal.btn-circle.btn-circle--trash(rel="tooltip" title="Удалить" data-target="modal-confirm")

					.b-dialog__body
						.b-dialog__userpic
							a.b-profile-info__photo(href="profile-chat.html")
								img(src="http://api.randomuser.me/portraits/med/men/46.jpg")

						.b-dialog__author
							| Константин Константинопольский 
							span.b-dialog__date 18 июня 2014 г.

						.b-dialog__title
							a(href="profile-chat.html") Плановые технические работы
							span.b-dialog__title-num (4)

						.b-dialog__preview
							p 
								| Уважаемые пользователи Pokupo!<br/>
								| Завтра, 28.08.2014, с 04:00 до 11:00 по московскому времени серверы портала будут 
								| остановлены для проведения плановых технических работ.

				.b-order-list__actions
					.check_button
						span.pseudo-link Отметить как прочитанное
					.drop_button
						span.pseudo-link Удалить выбранные сообщения

			.columns.triple
				.first.double.column
					.content
						.input-holder.pagination
							.radio-circles
								ul.menu
									li.menu__item.active
										a(href=js0) 1
									li.menu__item
										a(href=js0) 2
									li.menu__item
										a(href=js0) 3
									li.menu__item
										a(href=js0) 4

				.third.column
					.content.profile-mail__actions
						button.btn.btn-lg.btn-inline.b-mail__addbtn.open-modal(type="button" data-target="modal-message")
							i.icon.icon-addmail
							| Новое сообщение


			h2.b-profile__headline Всплывающие окна
			.btn.btn-sm.open-modal(data-target="modal-success") Успех
			.btn.btn-red.btn-sm.open-modal(data-target="modal-error") Ошибка

			#modal-confirm.modal.fade
				.modal-dialog.b-modal-info
					.modal-content
						.modal-header
							span.close-modal.btn-circle.btn-circle--drop.btn-circle--orange
						.modal-body
							h3.b-modal-info__icon.icon-warning Вы действительно хотите удалить это сообщение?
							.b-modal-info__actions
								button.btn.btn-lg.btn-grey.close-modal(type="button") Нет
								button.btn.btn-lg(type="button") Да

			#modal-success.modal.fade
				.modal-dialog.b-modal-info
					.modal-content
						.modal-header
							span.close-modal.btn-circle.btn-circle--drop.btn-circle--orange
						.modal-body
							h3.b-modal-info__icon.icon-success Сообщение об успешном действии

			#modal-error.modal.fade
				.modal-dialog.b-modal-info
					.modal-content
						.modal-header
							span.close-modal.btn-circle.btn-circle--drop.btn-circle--orange
						.modal-body
							h3.b-modal-info__icon.icon-error Сообщение об ошибке

			#modal-message.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							span.close-modal.btn-circle.btn-circle--drop.btn-circle--orange
							h2.b-profile__headline Новое сообщение
						.modal-body
							form
								.input-holder
									input.block-input(type="text" placeholder="Адресат" name="msg_to" value="jiexa@tabrisov.ru")
								.input-holder
									input.block-input(type="text" placeholder="Тема беседы" name="msg_topic" value="")
								.input-holder(style="padding:0")
									textarea(name="msg_text" rows="5")
								.input-holder
									input#carboncopy(type="checkbox" name="carboncopy" checked="checked")
									label(for="carboncopy") Выслать копию на e-mail

								button.btn.btn-lg.btn-grey.btn-inline.close-modal(type="button") Отмена
								button.btn.btn-lg(type="reset") Отправить






block scripts
	+script([
		'main.js'
	])

