extends partials/layouts/store

block head
	- page.title = 'Магазин';

block menu 
	+menu-list([
		{text:"Платформа",href:"#",submenu:[
			{text:"Особенности",href:"#"},
			{text:"Вопросы и ответы",href:"#"},
			{text:"Готовые решения",href:"#"},
			{text:"Торговая площадка",href:"#"}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Сообщество",href:"community.html"},
		{text:"Помощь",href:"#",submenu:[
			{text:"Техническая поддержка",href:"#"},
			{text:"Видео курсы",href:"#"},
			{text:"Семинары",href:"#"}]},
		{text:"Компания",href:"#", submenu:[
			{text:"Новости",href:"#"},
			{text:"Контакты",href:"#"},
			{text:"О нас",href:"#"},
			{text:"Партнеры",href:"#"},
			{text:"Блог",href:"#"}
		]}
	])

block content
	section.store
		.container
			aside.b-sidebar
				h1.b-sidebar__title Пример каталога
				+catalog-list([
					{text:"Компьютерная техника",href:"#", submenu:[
						{text:"Ноутбуки",href:"#", preview:43},
						{text:"Моноблоки",href:"#", preview:11},
						{text:"Планшеты",href:"#", preview:24}
					]},
					{text:"Бытовая техника",href:"#", submenu:[
						{text:"Стиральные машины",href:"#", preview:51},
						{text:"Телевизоры",href:"#", preview:13},
						{text:"Кухонная техника",href:"#", preview:104},
						{text:"Пылесосы",href:"#", preview:8}
					]},
					{text:"Телефоны и связь",href:"#", preview:24},
					{text:"Фото и оптика",href:"#", submenu:[
						{text:"Фотоаппараты",href:"#", preview:6},
						{text:"Объективы",href:"#", preview:2},
						{text:"Средства и химия",href:"#", preview:64}
					]},
					{text:"Одежда, обувь, акксессуары",href:"#", active: true, submenu:[
						{text:"Кроссовки",href:"#", preview:19},
						{text:"Кеды",href:"#", preview:134, active: true},
						{text:"Босоножки",href:"#", preview:245},
						{text:"Туфли",href:"#", preview:195},
						{text:"Ботильоны",href:"#", preview:132},
						{text:"Сандалии",href:"#", preview:72},
						{text:"Балетки",href:"#", preview:36},
						{text:"Сапоги",href:"#", preview:56},
						{text:"Резиновая обувь",href:"#", preview:5}
						]},
					{text:"Подарки и праздники",href:"#", submenu:[
						{text:"Цветы",href:"#", preview:65},
						{text:"Открытки",href:"#", preview:200},
						{text:"Игрушки",href:"#", preview:31}
					]},
					{text:"Книги, учебники и журналы",href:"#", submenu:[
						{text:"Цветы",href:"#", preview:65},
						{text:"Открытки",href:"#", preview:200},
						{text:"Игрушки",href:"#", preview:31}
					]},
					{text:"Мебель, интерьеры и обиход",href:"#", submenu:[
						{text:"Цветы",href:"#", preview:65},
						{text:"Открытки",href:"#", preview:200},
						{text:"Игрушки",href:"#", preview:31}
					]},
					{text:"Другое",href:"#", submenu:[
						{text:"Цветы",href:"#", preview: 65},
						{text:"Открытки",href:"#", preview: 200},
						{text:"Игрушки",href:"#", preview: 31}
					]}])
			.b-catalog
				h1 Кеды
				.b-catalog__controls
					.b-catalog__controls-item
						| Сортировать
						.inline-sorter.dropdown.selector
							span.selector__current.dropdown__trigger(data-target="sort") по&nbsp;названию
							.dropdown__content.selector__options.hidden(data-target="sort")
								ul.menu
									li.menu__item.active
										a(href=js0) по&nbsp;названию
									li.menu__item
										a(href=js0) по&nbsp;рейтингу
									li.menu__item
										a(href=js0) по&nbsp;цене

					.b-catalog__controls-item
						| Вид:
						.radio-circles.catalog-layout
							ul.menu
								li.menu__item
									a(href=js0 data-value="cards")
										i.icon.icon__cards
								li.menu__item
									a(href=js0 data-value="magazine")
										i.icon.icon__magazine
								li.menu__item.active
									a(href=js0 data-value="titles")
										i.icon.icon__list

					.b-catalog__controls-item
						| Валюта:
						.radio-circles
							ul.menu
								li.menu__item.active
									a(href=js0) $
								li.menu__item
									a(href=js0) ¥
								li.menu__item
									a(href=js0) €
								li.menu__item
									a(href=js0) ฿

				.b-catalog__items.titles
					+catalog-items([
						{title:"Converse White", price: "1800", img: "images/catalog/goods01.jpg"},
						{title:"Converse Grey", price: "2450", img: "images/catalog/goods02.jpg"},
						{title:"Converse Red", price: "3750", oldPrice: "5600", img: "images/catalog/goods03.jpg"},
						{title:"Converse Orange", price: "1890", oldPrice: "2490", img: "images/catalog/goods04.jpg"},
						{title:"Converse Green", price: "3750", oldPrice: "5600", img: "images/catalog/goods05.jpg"},
						{title:"Converse Blue", price: "3750", img: "images/catalog/goods06.jpg"}
						])



block scripts
	+script(['main.js'])