extends partials/layouts/store

block head
	- page.title = 'Главная магазина';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"Особенности",href:"#"},
			{text:"Вопросы и ответы",href:"#"},
			{text:"Готовые решения",href:"#"},
			{text:"Торговая площадка",href:"#"}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Сообщество",href:"community.html"},
		{text:"Помощь",href:"#",submenu:[
			{text:"Техническая поддержка",href:"#"},
			{text:"Видео курсы",href:"#"},
			{text:"Семинары",href:"#"}]},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"Контакты",href:"#"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Партнёры",href:"partners.html"},
			{text:"Блог",href:"#"}
		]}
	])(class="b-navigation")

block banner
	section.catalog-banner
		.b-catalog-banner
			.b-catalog-banner__slide(style="background: url('/images/pages/sliders/1920-1.jpg')")
				.container
					hgroup
						h1 Промо / акции / баннеры
						h2.lead Лучшее место для вашей рекламы
			.b-catalog-banner__slide(style="background: url('/images/pages/sliders/1920-2.jpg')")
				.container
					hgroup
						h1 Промо / акции / баннеры
						h2.lead Лучшее место для вашей рекламы
			.b-catalog-banner__slide(style="background: url('/images/pages/sliders/1920-3.jpg')")
				.container
					hgroup
						h1 Промо / акции / баннеры
						h2.lead Лучшее место для вашей рекламы
			.b-catalog-banner__slide(style="background: url('/images/pages/sliders/1920-4.jpg')")
				.container
					hgroup
						h1 Промо / акции / баннеры
						h2.lead Лучшее место для вашей рекламы
			.b-catalog-banner__slide(style="background: url('/images/pages/sliders/1920-5.jpg')")
				.container
					hgroup
						h1 Промо / акции / баннеры
						h2.lead Лучшее место для вашей рекламы

block content
	section.store
		.container
			aside.b-sidebar.dropdown
				a.btn.btn-menu(href=js0 data-target="sidebar") 
					i.icon.icon__catalog
					| Каталог
				.b-sidebar__dropdown(data-target="sidebar")
					h1.b-sidebar__title Пример каталога
					+catalog-list([
					{text:"Компьютерная техника",href:js0, submenu:[
						{text:"Ноутбуки",href:js0, preview:43},
						{text:"Моноблоки",href:js0, preview:11},
						{text:"Планшеты",href:js0, preview:24}
					]},
					{text:"Бытовая техника",href:js0, submenu:[
						{text:"Стиральные машины",href:js0, preview:51},
						{text:"Телевизоры",href:js0, preview:13},
						{text:"Кухонная техника",href:js0, preview:104},
						{text:"Пылесосы",href:js0, preview:8}
					]},
					{text:"Телефоны и связь",href:js0, preview:24},
					{text:"Фото и оптика",href:js0, submenu:[
						{text:"Фотоаппараты",href:js0, preview:6},
						{text:"Объективы",href:js0, preview:2},
						{text:"Средства и химия",href:js0, preview:64}
					]},
					{text:"Одежда, обувь, аксессуары",href:js0, active: true, submenu:[
						{text:"Кроссовки",href:js0, preview:19},
						{text:"Кеды",href:js0, preview:134, active: true},
						{text:"Босоножки",href:js0, preview:245},
						{text:"Туфли",href:js0, preview:195},
						{text:"Ботильоны",href:js0, preview:132},
						{text:"Сандалии",href:js0, preview:72},
						{text:"Балетки",href:js0, preview:36},
						{text:"Сапоги",href:js0, preview:56},
						{text:"Резиновая обувь",href:js0, preview:5}
						]},
					{text:"Подарки и праздники",href:js0, submenu:[
						{text:"Цветы",href:js0, preview:65},
						{text:"Открытки",href:js0, preview:200},
						{text:"Игрушки",href:js0, preview:31}
					]},
					{text:"Книги, учебники и журналы",href:js0, submenu:[
						{text:"Цветы",href:js0, preview:65},
						{text:"Открытки",href:js0, preview:200},
						{text:"Игрушки",href:js0, preview:31}
					]},
					{text:"Мебель, интерьеры и обиход",href:js0, submenu:[
						{text:"Цветы",href:js0, preview:65},
						{text:"Открытки",href:js0, preview:200},
						{text:"Игрушки",href:js0, preview:31}
					]},
					{text:"Другое",href:js0, submenu:[
						{text:"Цветы",href:js0, preview: 65},
						{text:"Открытки",href:js0, preview: 200},
						{text:"Игрушки",href:js0, preview: 31}
					]}])

			.b-catalog
				h1.b-catalog__title Рекомендуем

				.b-catalog__controls.b-catalog__controls--pushedright
					.b-catalog__controls-item
						| Валюта:
						.radio-circles
							ul.menu
								li.menu__item.active
									a(href=js0)
										i.icon.icon__currency--rub
								li.menu__item
									a(href=js0)
										i.icon.icon__currency--dol
								li.menu__item
									a(href=js0)
										i.icon.icon__currency--btc

				.b-catalog__items.cards
					+catalog-items([
						{title:"Converse White", price: "1800", img: "images/catalog/goods01.jpg"},
						{title:"Converse Grey", price: "2450", img: "images/catalog/goods02.jpg"},
						{title:"Converse Red", price: "3750", oldPrice: "5600", img: "images/catalog/goods03.jpg"},
						{title:"Converse Orange", price: "1890", oldPrice: "2490", img: "images/catalog/goods04.jpg"},
						{title:"Converse Green", price: "3750", oldPrice: "5600"},
						{title:"Converse Blue", price: "3750", img: "images/catalog/goods06.jpg"}
						])

				h1.b-catalog__title Товары со скидкой
				.b-catalog__controls.b-catalog__controls--pushedright
					.b-catalog__controls-item.hidden
						a.btn.btn-orange(style="margin:0") Смотреть все

				.b-catalog__items.cards
					+catalog-items([
						{title:"Converse White", price: "1800"},
						{title:"Converse Grey", price: "2450"},
						{title:"Converse Red", price: "3750", oldPrice: "5600"}
						])

			h1.b-catalog__title Самые популярные
			.b-catalog__items.cards.chain-slider
				+catalog-items([
					{title:"Converse White", price: "1800"},
					{title:"Converse Grey", price: "2450", img: "images/catalog/goods02.jpg"},
					{title:"Converse Red", price: "3750", oldPrice: "5600", img: "images/catalog/goods03.jpg"},
					{title:"Converse Orange", price: "1890", oldPrice: "2490", img: "images/catalog/goods04.jpg"},
					{title:"Converse Blue", price: "3750", img: "images/catalog/goods06.jpg"},
					{title:"Converse Green", price: "3750", oldPrice: "5600"},
					{title:"Converse 10", price: "3750", oldPrice: "5600", img: "images/catalog/goods01.jpg"},
					{title:"Converse RD", price: "1890", oldPrice: "2490", img: "images/catalog/goods04.jpg"},
					{title:"Converse RD2", price: "3750", oldPrice: "5600", img: "images/catalog/goods03.jpg"},
					{title:"Converse T800", price: "6750", oldPrice: "5600"},
					{title:"Converse Ultimate", price: "2490", img: "images/catalog/goods05.jpg"},
					], flat=true)



block scripts
	+script(['main.js'])